In [10]:
#Write a program to find sum of all elements in a list of integers.
n=[1,2,3,4,5,6,7,8,9]
s= sum(n)
print("Sum of integers in the list = ",s)

Sum of integers in the list =  45

In [8]:
#Input a sentence as a string.
  #a)Print its length
  #b)Print the first half of string

s= input("Enter a sentence: ")
print("Length = ",len(s))
First_Half= len(s)//2
print("First Half od the String :",s[:First_Half])

Enter a sentence: I love Python
Length =  13
First Half od the String : I love

In [17]:
#Write a program to enter a tuple of integers as (78,45,32,19,82,77,40,39). Change the third value in the tuple to 100
t=(78,45,32,19,82,77,40,39)
List = list(t)
List[2] = 100
T= tuple(List)
print("Updated Tuple : ",T)

Updated Tuple :  (78, 45, 100, 19, 82, 77, 40, 39)

In [88]:
#Consider a list listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
#(a)Delete the first occurrence of 32
#(b)Delete all occurrences of 40
#(c)Delete the value at index=5
#(d)Modify the value at index=9 as 300
#(e)Add 200 at index=2
#(f)Print the final list with its length, maximum value and sum of all elements

listA = [19,32,10,55,31,32,94,29,10,65,77,40,40]
listA.remove(32)
print("ListA after deleting the first occurance of 32 : ",listA)

listA.remove(40)
listA.pop()
print("After deleting all occurrences of 40: ", listA)


del listA[5]
print("After deleting value at index 5: ", listA )

listA = [19,32,10,55,31,32,94,29,10,65,77,40,40]
listA[9] = 300
print("After modifying value at index 9 as 300: ", listA)

listA.insert(2, 200)
print("After adding 200 at index 2: ", listA)

print("Final List: ", listA)
print("Length of the list: ", len(listA))
print("Maximum value in the list: ", max(listA))
print("Sum of all elements in the list: ", sum(listA))

ListA after deleting the first occurance of 32 :  [19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
After deleting all occurrences of 40:  [19, 10, 55, 31, 32, 94, 29, 10, 65, 77]
After deleting value at index 5:  [19, 10, 55, 31, 32, 29, 10, 65, 77]
After modifying value at index 9 as 300:  [19, 32, 10, 55, 31, 32, 94, 29, 10, 300, 77, 40, 40]
After adding 200 at index 2:  [19, 32, 200, 10, 55, 31, 32, 94, 29, 10, 300, 77, 40, 40]
Final List:  [19, 32, 200, 10, 55, 31, 32, 94, 29, 10, 300, 77, 40, 40]
Length of the list:  14
Maximum value in the list:  300
Sum of all elements in the list:  969

In [138]:
#Consider a string ”The day has been long”.
#(a)Delete the value at index =4
#(b)Print the string 4 times in a single line with space between each repetition
#(c)Print the string 3 times in a new line each time
#(d)Modify the string at index 7 as ’A’
#(e)Print the string from index 4 to 15
#(f)Print the final string with its length


s = "The day has been long"

s=s[:4] + s[5:]
print("After deleting value at index 4: ", s)


print("String repeated 4 times: ",(s+' ') * 4)


print("Print the string 3 times in a new line each time:",(s+'\n')*3)


s = s[:7] + 'A' + s[8:]
print("After modifying value at index 7 as 'A': ", s)


print("String from index 4 to 15: ", s[4:15])

print("Length of the string: ", len(s))

After deleting value at index 4:  The ay has been long
String repeated 4 times:  The ay has been long The ay has been long The ay has been long The ay has been long
Print the string 3 times in a new line each time: The ay has been long
The ay has been long
The ay has been long

After modifying value at index 7 as 'A':  The ay Aas been long
String from index 4 to 15:  ay Aas been
Length of the string:  20